<title>Game of Life</title>
<body onload="load()">
    Conway's Game of Life<p>
    Written at Code Retreat Minneapolis, December 8, 2012.<p> 
    Written by Mike Calvo (mike@citronellasoftware.com) with assistance from Brian Westrich (bw@mcwest.com).<p>
    For more info, see https://bitbucket.org/bwestrich/conway-life-gg/wiki/Home<p> 
    <g:formRemote url="[controller: 'board', action: 'seed']" name="seed" onSuccess="updateBoard(data)">
        Width <g:textField name="width" value="100"/><br>
        Height <g:textField name="height" value="50"/><br>
        <g:submitButton name="Start" />
    </g:formRemote>
    <div id="board"></div>
</body>
